body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto';
}

.navbar {
    width: 100vw;
    position: fixed;
    background: #3a3a3a;
    opacity: 0.8;
}

.navigation-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    height: 50px;
    width: 80%;
    color: #d5d5d5;
}

.logo {
    display: inline-block;
    margin-top: 1em;
}

.spaced-out {
    letter-spacing: 8px;
}
.nav-items {
    display: inline;
}

.nav-items li {
    display: inline-block;
}

.nav-items a {
    text-decoration: none;
    color: #d5d5d5;
    padding-left: 5px;
    padding-right: 5px;
}

.carousel-temp img {
    width: 100vw;
}

.bios {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-content {
    text-align: center;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 65%;
}

.tour-dates {
    background: #2d2d30;
}

.tour-tickets {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buy-content {
    background: white;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1em;
}

.dark-btn {
    background: #333;
    color: white;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.tour-info {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info-item {
    background: white;
    color: #bdbdbd;
    border: 1px solid #ddd;
    text-align: left;
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
}

.sold-out {
    background: #d9534f;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 0.5em;
    border-radius: 10%;
}